body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: gainsboro;
}

header {
    background-image: url("space.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%; 
}


h1 {
    color: gainsboro;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

main {
    display: flex;
}

section {
    width: 700px;
}